{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Innovate Craft :: An Ecosystem for mental Workout</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link rel="shortcut icon" href="{% static 'images/fevi.png' %}" type="image/x-icon">
<script src="{% static 'js/jquery.min.js' %}"></script>
{#    <script src="{% static 'js/jquery.particles.min.js' %}"></script>#}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<script src="{% static 'js/bootstrap.min.js' %}"></script>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/jquery.fancybox.min.js' %}">
</head>
{% block body_block %}
<body class="bg_fff ff_raleway">
{% block header %}
{% endblock %}
{% block Body %}
{% endblock %}
{% block new_css %}


{% endblock %}
{% block footer %}
<footer class="footerHome">
<div class="container text-center">
All Right Reserved
</div>
</footer>
<!--FOOTER END-->
{% endblock %}
 <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>

<script src="{% static 'js/typewriter.js' %}"></script>




<script src="{% static 'js/swiper.min.js' %}"></script>
{##}
{#<script src="{% static 'js/jquery.particles.min.js' %}"></script>#}



<script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 4,
      spaceBetween: 10,
	  grabCursor: true,
      pagination: {
    el: '.swiper-pagination',
    clickable: true,
  },

  fadeEffect: {
    crossFade: true
  },
	  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
         autoplay: {
    delay: 5000,
  },
  breakpoints: {
        1200: {
          slidesPerView: 3,
          spaceBetween: 30,
        },
        992: {
          slidesPerView: 3,
          spaceBetween: 10,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        480: {
          slidesPerView: 1,
          spaceBetween: 10,
        }
      }


    });
  </script>
{% block message_d %}

{% if messages %}
     {% for message in messages %}
         {{ message.tags }}
         {% if message.tags == 'success' %}
<div class="alertCustomSuccess "><strong class="text-success">SUCCESS</strong>: {{ message }}.</div>
         {% endif %}
         {% if message.tags == 'warning' %}
<div class="alertCustomInvalid hide"><strong class="text-danger">WARNING</strong>: Be careful before hitting confirm.</div>
         {% endif %}
    {% endfor %}
{% endif %}
<script>

jQuery(function($) {
    $('.alertCustomSuccess').delay(5000).slideUp(400);
	$('.alertCustomInvalid').delay(5000).slideUp(400);
});
</script>
 {% endblock %}

</body>
{% endblock %}


</html>



