{% load static %}
<link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
<h1>Welcome Onboard</h1>

<p> First Name :- {{ f_name }}</p>
<p> Last Name :- {{ l_name }}</p>
<p> IP  :- {{ ip }}</p>
<p> Country Name :- {{ country.name }} <i class="{{ country.flag_css }}"></i> </p>
